{% extends 'base.html.twig' %}

{% block title %}Modification du programme{% endblock %}

{% block body %}



<div class="wrapper">

    <div class="centered wrapper">
        <h1>Programme de la session :</h1>
        <h2><a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a></h2>
        <p>du {{ session.startDate | date('d.m.Y') }} au {{ session.endDate | date('d.m.Y') }}</p>

        <div class="table">
            <table>
                <tr>
                    <th>Modules</th><th>Durée</th>
                </tr>

                {% for program in programs %}
                <tr>
                    <td>{{ program.unit }}</td><td>{{ program.numberOfDays }} jours</td><br>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <h2>Ajouter un module au programme</h2>
{{ form_start(form) }}

    <div class="form-group row">
        <div class="col-form-label col-sm-2">&nbsp;</div>
        <div id="program-fields-list" class="col-sm-10 remove-collection-widget"
            data-prototype="{{ form_widget(form.programs.vars.prototype)|e }}"
            data-session="{{ session.id }}"
            data-widget-tags="{{ '<p></p>'|e }}"
            data-widget-counter="{{ form.programs|length }}">
        {% for programField in form.programs %}
            <p>
                {{ form_errors(programField) }}
                {{ form_widget(programField, {'attr': {'class': 'borders'}}) }}
            </p>
        {% endfor %}
        </div>
    </div>
    <div>
        <button type="form-group  row button"
            class="add-another-collection-widget button"
            data-list-selector="#program-fields-list">Ajouter un nouveau module</button>
    </div>
    
{{ form_end(form) }}

    {# {{ form(form) }} #}

</div>


{% endblock %}
