{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<div class="wrapper centered">

    <h1>Liste des sessions</h1>

    <div class="eighty">  
        <table class="center">
            <tr>
                <th class="fivehundred">Intitulé Session</th>
                <th class="verysmall">Date de début</th>
                <th class="verysmall">Date de fin</th>
                <th class="verysmall">Nb total</th>
                <th class="verysmall">Nb réservées</th>
                <th class="verysmall">Nb restantes</th>
            </tr>
            {% for session in sessions %}
            <tr>
                <td class="linkhover"><b><a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a></b></td>
                <td>{{ session.startDate | date("m/d/Y") }}</td> <!-- le filtre date() de twig permet la conversion de startDate (objet DateTime) en string -->
                <td>{{ session.endDate | date("m/d/Y") }}</td>
                <td>{{ session.totalNumber }}</td> <!-- nombre de places totales pour la session -->
                <td>{{ session.numberBooked}}</td> <!-- nombre de places réservées -->
                <td>{{ session.numberLeft }}</td> <!-- nombre de places restantes-->
            </tr>
            {% endfor %}
        </table>

    </div> 
    {% if is_granted('ROLE_ADMIN')  %}
    <div class="btnDiv btnSize wrapper">
        <a class="btn" href="{{ path('new_session') }}">Ajouter une session</a>
    </div>
    {% endif %}
      
</div>
{% endblock %}
