{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
    <div class="wrapper">
        
            <h1>Liste des sessions</h1>

            {% for session in sessions %}
                <a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a> démarre le {{ session.startDate | date("m/d/Y") }} et finit le {{ session.endDate | date("m/d/Y") }} Nombre de places total : {{ session.totalNumber }} 
            
                <br>
            {% endfor %}

            <p>

                {% if is_granted('ROLE_ADMIN')  %}
                <div class="btnDiv">
                    <a class="btn" href="{{ path('new_session') }}">Ajouter une session</a>
                </div>
                {% endif %}
            </p>
        
    </div>
{% endblock %}
