{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}

    <div class="wrapperRow">
        <div class='centered'>
            <div id="traineeBox">
                <h1>Détail d'une session</h1>
                <h2>{{ session }}</h2> <!--affiche le nom et prénom du stagiaire (grâce au __toString() de l'entité)-->
                <p>
                    <b>Date de démarrage :</b> {{ session.startDate | date('d.m.Y') }}<br>
                    <b>Date de fin :</b> {{ session.startDate | date('d.m.Y') }}<br>
                    <b>Nombre de places total :</b> {{ session.totalNumber  }}<br>
                    <b>Nombre de places réservées :</b> {{ session.numberBooked }} <br>  
                    <b>Nombre de places restantes :</b> {{ session.numberLeft }} <br>
                </p>
                {% if is_granted('ROLE_ADMIN') %}    
                    <a class='editBtn' href="{{ path('edit_session', {'id': session.id}) }}">MODIFIER</a>
                {% endif %}
            </div>

            <div class="table margin wrapper">
                <table>
                    <tr><th>Modules du programme</th><th>Durée</th></tr>
                    {% for program in programs %}
                        <tr>
                            <td>{{ program.unit }}</td><td> {{ program.numberOfDays}} jours</td>
                        </tr>
                    {% endfor %}
                </table>

                {% if is_granted('ROLE_ADMIN') %}
                <div class="btnDiv btnSize wrapper">
                    <a class="btn" href="{{ path('edit_program', {'id': session.id}) }}">Ajouter/Supprimer un module</a>
                </div>
                {% endif %}
            </div>
        </div>
        
        
        {# <a href="{{ path('delete_session', {'id': session.id}) }}" class='deleteBtn'>Supprimer la session</a> #}
    </div>

    <div class="wrapperRow">
        <div class="wrapper centered margin">

            {% if is_granted('ROLE_ADMIN')  %}
            <table>
                <tr>
                    <th class="fixed"><h3>Liste des inscrits</h3></th><th class="small">Désinscrire</th>
                </tr>
                {% for trainee in session.trainees %}
                {# {% if trainee == null %}
                    <p>Il n'y a pas encore de stagiaires inscrits.</p>
                {% endif %} #}
                    <tr>
                        <td><a href="{{ path('show_trainee', {'id': trainee.id}) }}">{{ trainee }}</a></td> <!--lien vers l'affichage du détail d'un stagiaire-->
                        <td><a href="">Désinscrire</a></td> <!--lien vers l'affichage du détail d'un stagiaire-->
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="margin">
            <table>
                <tr>
                    <th><h3>Non inscrits</h3></th><th>Inscrire</th>
                </tr>

                {% for trainee in trainees %}
                        <tr>
                            <td><a href="{{ path('show_trainee', {'id': trainee.id}) }}">{{ trainee }}</a></td>
                            <td><a class="" href="{{ path('register_trainee', {'session': session.id, 'trainee': trainee.id }) }}">Inscrire</a></td>
                        </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    
    </div>

{% endblock %}


