{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block body %}

<div class="wrapper">
    <div class='centered'>
        <div id="traineeBox">
            {% if edit %}
                <h1>Modifier la fiche</h1>
            {% else %}
                <h1>Ajouter un/une stagiaire</h1>
            {% endif %}

            {{ form_start(formAddTrainee) }}
                <div class='row'>
                    <div class='col-sm'>
                        {{ form_row(formAddTrainee.lastName) }}
                    </div>
                        {{ form_row(formAddTrainee.firstName) }}
                        {{ form_row(formAddTrainee.gender) }}
                        {{ form_row(formAddTrainee.birthDate) }}
                        {{ form_row(formAddTrainee.email) }}
                        {{ form_row(formAddTrainee.phoneNumber) }}
                        {{ form_row(formAddTrainee.city) }}
                        {{ form_row(formAddTrainee.valider) }}
                </div>
            {{ form_end(formAddTrainee) }}
        </div>
    </div>

    {% if edit %}
        <a href="{{ path('delete_trainee', {'id': trainee.id}) }}" class='deleteBtn'>Supprimer la fiche</a>
    {% endif %}

</div>

   

{% endblock %}
