{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class='centered'>
            <div id="traineeBox">
                <h1>Fiche Stagiaire</h1>
                <h2>{{ trainee }}</h2> <!--affiche le nom et prénom du stagiaire (grâce au __toString() de l'entité)-->
                
                    <p>
                        <b>Sexe :</b> {{ trainee.gender }}<br>
                        <b>Date de naissance :</b> {{ trainee.birthDateFr }} ({{ trainee.age }} ans)<br>
                        <b>Courriel :</b> {{ trainee.email }}<br>
                        <b>Téléphone :</b> {{ trainee.phoneNumber}}<br>
                        <b>Ville :</b> {{ trainee. city }}<br>
                    </p>

                    <a class='editBtn' href="{{ path('edit_trainee', {'id': trainee.id}) }}">MODIFIER</a>

                <h2>Sessions prévues</h2>

                <div id="sessionList" class="white">
                    {% for session in trainee.sessions %}
                        <li><b><a class="white hoverlink" href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a></b> du {{ session.startDate | date('d.m.Y') }} au {{ session.endDate | date('d.m.Y') }}</li>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <a href="{{ path('delete_trainee', {'id': trainee.id}) }}" class='deleteBtn'>Supprimer la fiche</a>
        <p>(Attention, cetta action est irréversible)</p>
    </div>

{% endblock %}


