{% extends 'base.html.twig' %} <!-- récupère le layout de base-->

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}
    <h1>Page Stagiaire</h1>

    <h2>{{ trainee }}</h2> <!--affiche le nom et prénom du stagiaire (grâce au __toString() de l'entité)-->

    <p>
        Sexe : {{ trainee.gender }}<br>
        Date de naissance : {{ trainee.birthDateFr }} ({{ trainee.age }} ans)<br>
        Courriel : {{ trainee.email }}<br>
        Téléphone : {{ trainee.phoneNumber}}<br>
        Ville : {{ trainee. city }}<br>
    </p>
    <a href="{{ path('edit_entreprise', {'id': trainee.id}) }}">Modifer</a>

    <h2>Sessions prévues</h2>

{% endblock %}
