{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class='centered'>
            <div id="traineeBox">
                <h1>Fiche Stagiaire</h1>
                <h2>{{ trainee }}</h2> <!--affiche le nom et prénom du stagiaire (grâce au __toString() de l'entité)-->
                
                    <p>
                        Sexe : {{ trainee.gender }}<br>
                        Date de naissance : {{ trainee.birthDateFr }} ({{ trainee.age }} ans)<br>
                        Courriel : {{ trainee.email }}<br>
                        Téléphone : {{ trainee.phoneNumber}}<br>
                        Ville : {{ trainee. city }}<br>
                    </p>

                    <a class='editBtn' href="{{ path('edit_trainee', {'id': trainee.id}) }}">MODIFIER</a>

                <h2>Sessions prévues</h2>

                {% for session in trainee.sessions %}
                    <a href="{{ path('show_session', {'id': session.id}) }}">{{ session }}</a><br>
                {% endfor %}
                
            </div>
        </div>
        <a href="{{ path('delete_trainee', {'id': trainee.id}) }}" class='deleteBtn'>Supprimer la fiche</a>
    </div>

{% endblock %}


